<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact List</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-app='MyApp'>
  <div class="container">
    <h1>Contact List</h1>

    <div ng-controller='mainCtrl'>



   

      <form class="form-inline">
        <div class="form-group">
          <label for="name">FirstName</label>
          <input type="text" class="form-control" ng-model="newPotion.firstName">
        </div>
        <div class="form-group">
          <label for="color">LastName</label>
          <input type="text" class="form-control" ng-model="newPotion.lastName">
        </div>
        <div class="form-group">
          <label for="cost">Address</label>
          <input type="text" class="form-control" ng-model="newPotion.address">
        </div>
        <button ng-click='addPotion()' type="button" class="btn btn-default">Add Contact</button>
        <button ng-click='editHandler()' type="button" class="btn btn-default">Save Edit</button>
      </form>

      <div class="form-group">
        <label for="filter">Search</label>
        <input ng-model='filterText' type="text" class='form-control'>
      </div>

      <table class='table' ng-if='potions.length'>
        <thead>
          <tr>
            <th>#</th>
            <th ng-click = "ordering(key)" ng-repeat='(key, value) in potions[0]'>{{key}}</th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='(key, potion) in potions | filter : filterText | orderBy : orderField track by $index' 
          ng-class='{lightsteelblue:$even}'>
          <td>{{$index + 1}}</td>
          <td ng-repeat='value in potion'>{{value}}</td>
          <td>
            <button ng-click='removeRow(potion)' type="button" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
            
          </td>
          <td>
           <button ng-click='switchUp(potion)' type="button" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-edit"></span>
            </button>           
          </td>

        </tr>
    
      </tbody>
    </table>

  </div>
</div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
<script src="main.js"></script>
</body>
</html>